<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <title>401k Contribution Page</title>
</head>

<body>
    <div id="app" class="section">
        <div class="content">
            <h1 class="has-background-primary has-text-black p-5">
                401k Contribution Page
            </h1>

            <div class="columns">

                <!--the column is for the user selecting the amount to put towards the 401k-->
                <div class="column is-one-third">
                    <div class="block">
                        <h4>Information</h4>
                        <p>Age: 30</p>
                        <p>Yearly Salary: {{ salary }}</p>
                        <p>Monthly Salary: {{ Math.round(salary/12) }}</p>
                    </div>

                    <div class="block">
                        <h4>Contribution Type</h4>
                        <div class="control">
                            <div>
                                <label class="radio">
                                    <input 
                                        type="radio" 
                                        name="contribution type" 
                                        value="dollar" 
                                        v-model="contributionType" 
                                    />
                                    dollar
                                </label>
                            </div>
                            <div>
                                <label class="radio">
                                    <input 
                                        type="radio" 
                                        name="contribution type" 
                                        value="percentage" 
                                        v-model="contributionType" 
                                    />
                                    percentage
                                </label>
                            </div>
                        </div> 
                    </div>

                    <div class="block">
                        <h4>Contribution Amount</h4>
                        <div class="field" style="width: 200px;">
                            <div class="control has-icons-left">
                                <input
                                    class="input"
                                    type="number"
                                    v-model.number="contributionAmount"
                                    min="0"
                                    :max="contributionType === 'dollar' ? Math.round(salary/12) : 100"
                                    @keydown.prevent
                                >

                                <span class="icon is-small is-left" style="pointer-events: none;">
                                    <strong>{{ contributionType == 'dollar' ? '$' : '%' }}</strong>
                                </span>
                            </div>
                        </div>
                        <div>
                            <input type="range" 
                                class="slider is-fullwidth is-primary"
                                v-model.number="contributionAmount"
                                min="0"
                                :max="contributionType === 'dollar' ? Math.round(salary/12) : 100"
                                step="1"
                                style="width: 200px;"
                            >
                        </div>
                    </div>
                </div>

                <!--this column is to show the year to date contributions-->
                <div class="column is-one-third">
                    <h4>Year-to-date Contributions</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Month</th>
                                <th>Contribution</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="entry in contributionHistory" :key="entry.month">
                                <td>{{ entry.month }}</td>
                                <td>{{ entry.amount }}</td>
                            </tr>
                            <tr class="is-selected">
                                <td>November</td>
                                <td>
                                    {{ currContribution }}
                                </td>
                            </tr>
                            <tr class="is-selected">
                                <td>December</td>
                                <td>
                                    {{ currContribution }}
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>total</th>
                                <th>{{ totalYTD + (currContribution * 2) }}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <!--this column shows future savings impact-->
                <div class="column is-one-third">
                    <h4>Retirement Impact</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Age</th>
                                <th>Savings</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="entry in savingsProjection" :key="entry.age">
                                <td>{{ entry.age }}</td>
                                <td>{{ entry.money }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>

        </div>
    </div>
    
    <script type="module" src="401k.js"></script>
</body>
</html>